* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* Basic font styleing */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    line-height: normal;
}

p {
    font-size: 16px;
    line-height: 2em;
    word-spacing: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* root varables and body styling */
:root {
    --bg: white;
    --text: black;
    --nav: rgb(150, 76, 254);
    --title: rgb(139, 57, 255);
    --evenTheme: rgb(243, 243, 243);
    --eae: rgb(211, 146, 255);
    color-scheme: light;
}

.dark {
    --bg: rgb(20, 20, 20);
    --text: white;
    --evenTheme: rgb(30, 30, 30);
    --eae: rgb(40, 0, 41);
    color-scheme: dark;
}

html {
    scroll-padding-top: 60px;
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: color .5s;
    overflow-x: hidden;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--title);
    margin: 20px 0;
    text-align: center;
}

/* Theme styling*/
.theme-container {
    background-color: rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid var(--text);
    z-index: 1001;
}

.theme-container i {
    position: absolute;
    color: rgb(255, 255, 255);
    transition: all 300ms;
}

.theme-container i:first-child {
    scale: 0;
    text-shadow: 0 0 10px rgb(255, 234, 0);
}

.theme-container i:last-child {
    text-shadow: 0 0 10px white;
}

.dark i:first-child {
    scale: 1;
    transform: rotate(360deg);
}

.dark i:last-child {
    scale: 0;
    transform: rotate(360deg);
}


/* header styling */
header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: .75em 1em;
    box-shadow: 0 0 10px var(--text);
    z-index: 1000;
    background-color: var(--bg);
}

header h1 {
    cursor: pointer;
    font-size: 38px;
    color: var(--title);
    font-family: "Montserrat", serif;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    font-size: 18px;
    padding: 5px 0;
    position: relative;
}

nav a:hover {
    color: inherit;
}

nav a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--title);
    position: absolute;
    bottom: 0;
    left: 0;
    scale: 0;
    transition: all 300ms;
}

nav a:hover::after {
    scale: 1;
}

/* nav Bar */
.navBar {
    display: none;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    align-self: center;
}

.navBar span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 200px;
    background-color: var(--text);
    transition: all 300ms;
}

.navBarActive span:nth-child(1) {
    transform: rotate(60deg);
    transform-origin: left;
}

.navBarActive span:nth-child(2) {
    transform: rotate(360deg);
    scale: 0;
}

.navBarActive span:nth-child(3) {
    transform: rotate(-60deg);
    transform-origin: left;
}


/* main  section styling start here */
main section *{
    animation: scroll linear;
    animation-timeline:view();
    animation-range:0% cover 10%;
}
@keyframes scroll {
from{
    opacity: .5;
    scale: .5;
}
to{
    scale: 1;
    opacity:1;
}
}

main section {
    padding: 20px;
    margin: 20px 0;
}

main section:nth-child(even) {
    background-color: var(--evenTheme);
}

/* home section */
.hero {
    margin: 3em 0 0;
    width: 100%;
    display: flex;
}

.hero-img-container {
    flex-basis: 50%;
    display: flex;
    justify-content: end;
    padding: 1em;
}

.hero-text {
    flex-basis: 50%;
    padding: 5em 0em 2em 2em;
}

.hero-text h2 {
    font-size: 2em;
    font-weight: normal;
    color: var(--text);
    width: fit-content;
    position: relative;
}

.hero-text h2::after {
    content: '';
    position: absolute;
    width: 20vw;
    height: 2px;
    background-color: var(--text);
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;

}

.hero-text h3 {
    font-size: 2.5em;
    font-weight: 500;
}

.hero-text h3 span {
    font-weight: 600;
    text-shadow: 6px 6px 0px gray;
}

.hero-text h4::after {
    content: '';
    display: block;
    overflow: hidden;
    text-wrap: nowrap;
    border-right: 2px solid var(--text);
    animation: content 10s infinite both, size 10s infinite;
}

@keyframes content {

    0%,
    32% {
        content: 'Front-End Developer';
    }

    45%,
    62% {
        content: 'Web Designer';
    }

    75%,
    100% {
        content: 'Java Developer';
    }
}

@keyframes size {
    0% {
        width: 0;
    }

    20% {
        width: 18ch;
    }

    35% {
        width: 0%;
    }

    50% {
        width: 13ch;
    }

    65% {
        width: 0%;
    }

    90% {
        width: 14ch;
    }

    100% {
        width: 0%
    }

}

@keyframes blink {

    0%,
    20% {
        border-color: transparent;
    }

    55%,
    100% {
        border-color: var(--text);
    }
}

/* home Button */
.home-btn {
    margin-top: 40px;
}

.home-btn a {
    color: var(--bg);
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 300ms;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home-btn a:hover {
    box-shadow: 0 0 20px var(--title);
}

.home-btn a:first-child {
    background-color: var(--title);
    border: 2px solid var(--title);
}

.home-btn a:last-child {
    margin-left: 20px;
    color: var(--title);
    border: 2px solid var(--title);
}


/* hero Image */
.hero-img {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.lightThemeImg {
    mix-blend-mode: screen;
}

.gif {
    position: absolute;
    width: 99%;
    height: 99%;
    z-index: -1;
    left: 0;
    bottom: 0px;
}

.darkThemeImg {
    display: none;
}

.show .darkThemeImg {
    display: block;
}

.show .lightThemeImg,
.show .gif {
    display: none;
}


/* about section  */
#about {
    padding: 20px;
}

.about-container {
    display: flex;
}

.about-img-container {
    flex-basis: 50%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-text {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
    object-fit: cover;
}

.about-img {
    position: relative;
    width: fit-content;
    padding: 40px;
}

.about-img::after {
    content: '';
    position: absolute;
    inset: 20px;
    border-top: 4px solid rgb(228, 104, 247);
    border-bottom: 4px solid rgb(228, 104, 247);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-radius: 50%;
    animation: spin-left 3s infinite;
}

@keyframes spin-left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.about-img::before {
    content: '';
    position: absolute;
    inset: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid rgb(55, 0, 205);
    border-right: 4px solid rgb(55, 0, 205);
    border-radius: 50%;
    animation: spin-right 3s infinite;
}

@keyframes spin-right {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* more section */
.moreh3 {
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0;
}


/* Education add Experience section*/

.eae h3 {
    font-size: 24px;
    font-weight: 600;
}

.eae h6 {
    font-size: 18px;
    margin-bottom: 10px;
}

.eae {
    margin: 40px 0 10px;
    padding: 10px;
    position: relative;
}

.eae::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--text);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.eae div {
    margin: 20px 0;
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--eae);
    position: relative;
}

.eae div:after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: var(--text);
    position: absolute;
    top: 25px;
}

.eae div:nth-child(even) {
    left: 100%;
    transform: translateX(-100%);
}

.eae div:nth-child(odd)::after {
    right: calc(-12.8%);
}

.eae div:nth-child(even)::after {
    left: calc(-12.8%);
}

.eae div::before {
    content: '';
    width: 10%;
    height: 2px;
    border-radius: 30px;
    background-color: var(--text);
    position: absolute;
    top: 35px;
}

.eae div:nth-child(odd)::before {
    right: -10%;
}

.eae div:nth-child(even)::before {
    left: -10%;
}



/* skills */
.skills-name{
    width: fit-content;
}
.skills-name h4{
    font-size: 24px;
}
.skills{
    width:700px;
    margin: 10px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.skills-name>div{
    width: 300px;
    height: 20px;
    border-radius:20px;
    border: 2px solid transparent;
    outline: 2px solid var(--text);
    position: relative;
}

.skills-name>div::after
{
    content: '';
    width:0%;
    border-radius:20px;
    height:100%;
    background-color:var(--title);
    position: absolute;
    inset: 0;
    animation:fill linear both;
    animation-timeline:view();
    animation-range: 0% cover 20%;
}
@keyframes fill {
    from{
        width: 0;
    }
    to{
         width: 100%;
    }
}
.css div::after{
    animation:w-90 linear both;
    animation-timeline:view();
    animation-range: 0% cover 20%;
}
@keyframes w-90 {
    from{
        width: 0;
    }
    to{
         width: 90%;
    }
}
.js div::after{
    animation:w-75 linear both;
    animation-timeline:view();
    animation-range:0% cover 20%;
}
@keyframes w-75 {
    from{
        width: 0;
    }
    to{
         width: 75%;
    }
}

.java div::after{
    animation:w-85 linear both;
    animation-timeline:view();
    animation-range:0% cover 20%;
}
@keyframes w-85 {
    from{
        width: 0;
    }
    to{
         width: 85%;
    }
}

.sql div::after{
    animation:w-72 linear both;
    animation-timeline:view();
    animation-range:0% cover 20%;
}
@keyframes w-72 {
    from{
        width: 0;
    }
    to{
         width: 72%;
    }
}
.c-plus div::after{
    animation:w-60 linear both;
    animation-timeline:view();
    animation-range:0% cover 20%;
}
@keyframes w-60 {
    from{
        width: 0;
    }
    to{
         width: 60%;
    }
}

/*Project  */
.project{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,300px));
    justify-content: center;
    gap: 20px;
}
.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project a{
    position: relative;
    overflow: hidden;
}
.project a::after{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms;
}

.project a:hover::after{
    background-color: rgba(0, 0, 0, 0.3);
}

.project a::before{
    content: "hi";
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    left: 50%;
    top: 300%;
    transform: translate(-50%,-50%);
    z-index: 3;
    background-color: var(--eae);
    transition: all 500ms;
    font-size: 18px;
}
.project a:hover::before{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.project a:nth-child(1):before{
    content: "Meat Shop";
}
.project a:nth-child(2):before{
    content: "E-Learing";
}
.project a:nth-child(3):before{
    content: "Hospital";
}
.project a:nth-child(4):before{
    content: "Portfolio";
}



.project a:hover{
    color: var(--text);
}


/* contact  */

.contact{
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 80%;
    margin: 30px auto;
}
.contact>div{
   box-shadow: 0 0 10px;
    border-radius: 5px;
}
.contact-text{
    flex-basis:50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        display: block;
        margin: 30px auto;
    }
    h5{
        text-align: center;
        margin: 40px auto 10px;
    }
    a{
        display: block;
        text-align: center;
        font-size: 18px;
    }
}
.contact-info{
    flex-basis: 100%;
    padding: 30px 20px 10px;
}
.contact-info label{
    display: block;
    margin: 20px 0 10px;
    font-size: 20px;
}
.contact-info input, textarea{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(134, 134, 134, 0.5);
    background-color: transparent;
    font-size:18px;
    letter-spacing: 1px;
    padding: 10px 20px;
    resize: none;
}
.contact-info button{
    padding:10px 30px;
    margin-right:20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    transition:all 1s;
    font-size:16px;
    font-weight: 800;
    letter-spacing: 2px;
    background-color:var(--title);
    color: white;
    margin: 20px 0;
}
.contact-info button:hover{
    background-color:var(--bg);
    color:var(--title);
    border: 1px solid var(--title);
}


/* footer */
footer{
    margin: 30px 0 0;
    padding:30px 20px;
    border-radius: 0 0 5px 5px;
    background-color:var(--title);
}
footer .links,.social-media-links{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px;
    transition: all 300ms;
    a{
        font-size: 20px;
        color: var(--text);
        font-weight: 500;
        letter-spacing: 2px;
    }
    i{
        margin: 0 10px;
        transition: all 300ms;
    }
}
footer .links a:hover, footer .social-media-links a:hover{
    color: var(--bg);
    i{
        scale: 1.1;
    }
}

/* made */
.made h4{
    text-align: center;
    margin:10px auto;
    font-size: 18px;
}


@media screen and (max-width:1200px) {
    .eae div:nth-child(odd)::after {
        right: calc(-10.8% + -1vw);
    }

    .eae div:nth-child(even)::after {
        left: calc(-11% + -1vw);
    }
}

@media screen and (max-width:1050px) {
    .eae div:nth-child(odd)::after {
        right: calc(-11.5% + -1vw);
    }
}

@media screen and (max-width:900px) {
    .hero {
        margin-top: 0;
        flex-direction: column;
    }

    .hero-img-container {
        padding: 1em;
    }

    .hero-img-container img {
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        padding: 3em 0em 1em 1em;
    }

    .about-container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .about-img-container {
        flex-basis: 100%;
    }

    .about-text {
        flex-basis: 100%;
    }

    .eae::after {
        left: 0%;
    }

    .eae div:nth-child(even) {
        left: unset;
        transform: unset;
    }

    .eae div {
        width: 100%;
        margin-left: 20px;
    }

    .eae div:nth-child(odd)::after {
        left: -40px;
    }

    .eae div:nth-child(even)::after {
        left: -40px;
    }

    .eae div::before {
        width: 30px;
    }

    .eae div:nth-child(odd)::before {
        left: -30px
    }

    .eae div:nth-child(even)::before {
        left: -30px;
    }

}

@media only screen and (max-width:768px){
    .skills{
        width:320px;
        justify-content: center;
    }
}

@media screen and (max-width:670px) {
    nav {
        display: none;
        flex-direction: column;
        padding-top: 4em;
        padding-left: 30px;
        position: absolute;
        width: 100%;
        max-width: 250px;
        height: 100vh;
        right: 0;
        top: 0;
        font-weight: bold;
        color: var(--bg);
        background-color: var(--nav);
        box-shadow: 0 0 10px;

        & a {
            width: fit-content;
        }
    }

    nav a::after {
        background-color: var(--text);
    }

    .navBar {
        display: flex;
        z-index: 2;
    }

    .navBarActive+nav {
        display: flex;
    }

    .contact{
        flex-wrap: wrap;
        width: 80%;
    }
    .contact-text{
        flex-basis: 100%;
    }
}

@media screen and (max-width:430px) {
    .home-btn a:last-child {
        margin-left: auto;
    }

    .home-btn a {
        display: block;
        width: 80%;
        margin: 20px auto;
        text-align: center;
    }

    .hero-text h2 {
        font-size: 1em;
    }

    .hero-text h3 {
        font-size: 1.5em;
    }

    .hero-text h4 {
        font-size: 1em;
    }

    .skills{
        padding: 0;
        display: block;
        width: 100%;
        h4{
            font-size: 20px;
            margin: 30px 0 10px !important;
        }
        }
        .skills-name>div
        {
            width: 100%;
            height:15px;
            border-radius:10px;
            border: 1px solid transparent;
            outline: 1px solid var(--text);
        }
        .skills-name {
            width:100%;
        }
        .contact{
            width: 100%;
            margin:0%;
        }

}
